<h2>Professor erstellen</h2>
<p (change)="onChange()">
  <label for="vorname">Vorname:</label>
  <input [(ngModel)]="professor.vorname" id="vorname" placeholder="vorname">
  <label for="nachname">Nachname:</label>
  <input [(ngModel)]="professor.nachname" id="nachname" placeholder="nachname">
  <label for="kuerzel">Kürzel:</label>
  <input [(ngModel)]="professor.kuerzel" id="kuerzel" placeholder="kuerzel">
  <label for="raum">Raum:</label>
  <input [(ngModel)]="professor.raum" id="raum" placeholder="raum">
</p>
<p>
  <button (click)="save(professor)">Speichern</button>
</p>
